<template>
  <b-modal ref="modal" title="Add/Edit Team" @ok.prevent="onOk">
    <b-form>
      <b-form-row>
        <b-col cols="6">
          <!-- Team Name -->
          <b-form-group label="Team name" label-for="teamNameInput">
            <b-form-input id="name" name="teamNameInput" data-vv-as="team name"
              v-model="form.name" v-validate="'required'" :state="!errors.has('teamNameInput')">
            </b-form-input>
            <div class="invalid-feedback">{{ errors.first('teamNameInput') }}</div>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <!-- Captain Name -->
          <b-form-group label="Captain name" label-for="captainNameInput">
            <b-form-input id="name" name="captainNameInput" data-vv-as="captain name"
              v-model="form.captainName" v-validate="'required'" :state="!errors.has('captainNameInput')">
            </b-form-input>
            <div class="invalid-feedback">{{ errors.first('captainNameInput') }}</div>
          </b-form-group>
        </b-col>
      </b-form-row>
      <b-form-row>
        <b-col cols="6">
          <!-- Captain Phone -->
          <b-form-group label="Captain phone" label-for="captainPhoneInput">
            <b-form-input id="name" name="captainPhoneInput" type="tel" data-vv-as="phone"
              v-model="form.captainPhone" v-validate="'required'" :state="!errors.has('captainPhoneInput')">
            </b-form-input>
            <div class="invalid-feedback">{{ errors.first('captainPhoneInput') }}</div>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <!-- Captain Email -->
          <b-form-group label="Captain email" label-for="captainEmailInput">
            <b-form-input id="name" name="captainEmailInput" data-vv-as="email"
              v-model="form.captainEmail" v-validate="'required'" :state="!errors.has('captainEmailInput')">
            </b-form-input>
            <div class="invalid-feedback">{{ errors.first('captainEmailInput') }}</div>
          </b-form-group>
        </b-col>
      </b-form-row>
    </b-form>
  </b-modal>
  
</template>

<script>
import http from '@/http'

const emptyForm = {
  name: null,
  captainName: null,
  captainEmail: null,
  captainPhone: null
}

export default {
  props: {
    teams: Array,
    team: Object
  },
  data () {
    return {
      form: Object.assign({}, emptyForm)
    }
  },
  methods: {
    show () {
      if (this.team) {
        // We are editing, set form to existing team
        this.form = {
          name: this.team.name,
          captainName: this.name.captain_name,
          captainEmail: this.name.captain_email,
          captainPhone: this.team.captain_phone
        }
      } else {
        this.form = Object.assign({}, emptyForm)
      }
      this.$validator.reset()
      this.$refs.modal.show()
    },
    async onOk () {
      const isValid = await this.$validator.validateAll()
      if (!isValid) return
      if (this.team) {
        try {
          const team = await this.updateExistingTeam()
          this.$emit('updateSuccessful', team)
          this.$refs.modal.hide()
        } catch (e) {
          console.error(e.toString())
        }
      } else {
        try {
          const team = await this.createNewTeam()
          this.$emit('createSuccessful', team)
          this.$refs.modal.hide()
        } catch (e) {
          console.error(e.toString())
        }
      }
    },
    async createNewTeam () {
      const request = {
        name: this.form.name,
        captain_name: this.form.captainName,
        captain_phone: this.form.captainPhone,
        captain_email: this.form.captainEmail
      }
      const client = http.getClient()
      const result = await client.post(`/v0.0.1/leagues/${this.league.id}/teams`, request)
      request.id = result.data.id
      return request
    },
    async updateExistingTeam () {
      const request = {
        name: this.form.name,
        captain_name: this.form.captainName,
        captain_phone: this.form.captainPhone,
        captain_email: this.form.captainEmail
      }
      const client = http.getClient()
      await client.put(`/v0.0.1/teams/${this.team.id}`, request)
      request.id = this.team.id
      return request
    }
  }
}
</script>

<style>

</style>
