<template>
  <div class="d-flex flex-row align-items-center justify-content-between">Bye Component</div>
</template>

<script>
export default {
  props: {
    bye: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>

</style>