<template>
  <div class="p-3">
    <div>League Id: {{ league.id }}</div>
    <div>information: {{ league.information }}</div>
  </div>
</template>

<script>
export default {
  props: {
    league: Object
  }
}
</script>

<style>

</style>
