<template>
<b-container>
  <div v-show="isLoading">Loading</div>
  <div v-if="league">
    <h2>{{ league.name }}</h2>
    <b-tabs v-model="selectedTabIndex" @input="onTabChange">
      <b-tab title="Info">
        <info-tab :league="league" />
      </b-tab>
      <b-tab title="Teams">
        <teams-tab :league="league" :isManager="isManager" />
      </b-tab>
      <b-tab title="Schedule">
        <schedule-tab :league="league" :isManager="isManager" />
      </b-tab>
    </b-tabs>
  </div>
</b-container>
</template>

<script>
import http from '@/http'
import InfoTab from './InfoTab'
import TeamsTab from './TeamsTab'
import ScheduleTab from './ScheduleTab'
import { mapState } from 'vuex'

export default {
  components: {
    InfoTab,
    TeamsTab,
    ScheduleTab
  },
  data () {
    return {
      league: null,
      isLoading: true,
      selectedTabIndex: 0,
      tabRouteNames: [
        'LeagueDetail',
        'LeagueDetail.Teams',
        'LeagueDetail.Schedule'
      ]
    }
  },
  computed: {
    ...mapState(['myLeagues']),
    isManager () {
      if (this.league === null) return false
      else return this.myLeagues.some(l => l.id === this.league.id)
    }
  },
  methods: {
    async fetchData (leagueId) {
      this.isLoading = true
      try {
        const client = http.getClient()
        const response = await client.get(`/v0.0.1/leagues/${leagueId}`)
        this.league = response.data
      } finally {
        this.isLoading = false
      }
    },
    onTabChange (newTabIndex) {
      // Allow the routing to take care of the tab switching logic
      // This can be seen in beforeRouteUpdate()
      this.$router.replace({ name: this.tabRouteNames[newTabIndex], params: { id: this.$route.params.id } })
    },
    openTabByRouteName (routeName) {
      this.selectedTabIndex = this.tabRouteNames.indexOf(routeName)
    }
  },
  async mounted () {
    this.fetchData(this.$route.params.id)
    this.openTabByRouteName(this.$route.name)
  },
  async beforeRouteUpdate (to, from, next) {
    if (to.params.id !== from.params.id) {
      this.league = null
      await this.fetchData(to.params.id)
    } else {
      // Only tab has changed - league stays the same
      this.openTabByRouteName(to.name)
    }
    next()
  }
}
</script>

<style>
</style>
