<template>
  <div class="d-flex flex-row align-items-center justify-content-between">
    <div class="p-2 text-center">
      <div>
        {{ parsedDate.month }}
      </div>
      <div>
        {{ parsedDate.dayOfMonth }}
      </div>
    </div>
    <div class="p-2">
      {{ parsedDate.startTime }}
    </div>
    <div class="p-2 flex-fill">
      <router-link :to="{ name: 'TeamDetail', params: { id: matchup.home_team_id } }">{{ matchup.home_team_name }}</router-link> <span>{{ homeTeamRecord }} VS </span> <router-link :to="{ name: 'TeamDetail', params: { id: matchup.away_team_id } }">{{ matchup.away_team_name }}</router-link> <span>{{ awayTeamRecord }}</span>
    </div>
    <div class="p-2 text-center">
      <div>
        {{ matchup.location }}
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  props: {
    matchup: {
      type: Object,
      required: true
    }
  },
  computed: {
    awayTeamRecord () {
      const record = this.matchup.away_team_record
      return `(${record.wins} - ${record.losses} - ${record.ties})`
    },
    homeTeamRecord () {
      const record = this.matchup.home_team_record
      return `(${record.wins} - ${record.losses} - ${record.ties})`
    },
    matchupMoment () {
      return moment(this.matchup.datetime)
    },
    parsedDate () {
      return {
        dayOfMonth: this.matchupMoment.format('d'),
        month: this.matchupMoment.format('MMM'),
        startTime: this.matchupMoment.format('h:mm a')
      }
    }
  }
}
</script>

<style>

</style>
