<template>
  <div class="p-3">
    <div v-show="isLoading">Loading</div>
    <div v-if="!isLoading">
      <router-link v-show="isManager"
        :to="{ name: 'EditSchedule', params: { id: league.id } }">Edit</router-link>
      <div v-if="teamEvents.length">
        <div v-for="e in teamEvents" :key="e.id">
          <div v-if="e.bye_date">
            <bye-team-event :bye="e" class="p-2" />
          </div>
          <div v-else>
            <matchup-team-event :matchup="e" class="p-2" />
          </div>
        </div>
      </div>
      <div v-else>Nothing scheduled!</div>
    </div>
  </div>
</template>

<script>
import http from '@/http'
import ByeTeamEvent from './ByeTeamEvent'
import MatchupTeamEvent from './MatchupTeamEvent'

export default {
  components: {
    ByeTeamEvent,
    MatchupTeamEvent
  },
  props: {
    league: Object,
    isManager: Boolean
  },
  data () {
    return {
      isLoading: true,
      teamEvents: []
    }
  },
  methods: {
    async fetchData (id) {
      this.isLoading = true
      try {
        const client = http.getClient()
        const response = await client.get(`/v0.0.1/leagues/${id}/team_events`)
        this.teamEvents = response.data
      } finally {
        this.isLoading = false
      }
    }
  },
  watch: {
    async league (val) {
      if (val && val.id) {
        await this.fetchData(val.id)
      }
    }
  },
  async mounted () {
    this.fetchData(this.league.id)
  }
}
</script>

<style>

</style>

