<template>
  <div class="p-3">
    <div v-show="isLoading">Loading</div>
    <div v-if="!isLoading">
      <div v-show="isManager">
        <b-button variant="success" @click="onAddTeamClick">Add Team</b-button>
      </div>
      <div v-if="teams.length">
        <div v-for="team in teams" :key="team.id">
          <team-summary :team="team" />
          <!-- <span v-show="isManager">Manager links</span> -->
        </div>
      </div>
      <div v-else>No teams yet!</div>
    </div>
    <add-edit-team-modal ref="addEditTeamModal" :teams="teams" :league="league"
      :team="editTeam" @updateSuccessful="onUpdateTeamSuccessful"
      @createSuccessful="onCreateTeamSuccessful"/>
  </div>
</template>

<script>
import http from '@/http'
import TeamSummary from '@/components/TeamSummary'
import AddEditTeamModal from './AddEditTeamModal'

export default {
  components: {
    TeamSummary,
    AddEditTeamModal
  },
  props: {
    league: Object,
    isManager: Boolean
  },
  data () {
    return {
      isLoading: true,
      teams: [],
      editTeam: null
    }
  },
  methods: {
    async fetchData (id) {
      this.isLoading = true
      try {
        const client = http.getClient()
        const response = await client.get(`/v0.0.1/leagues/${id}/teams`)
        this.teams = response.data
      } finally {
        this.isLoading = false
      }
    },
    onAddTeamClick () {
      this.$nextTick(() => this.$refs.addEditTeamModal.show())
    },
    onCreateTeamSuccessful (team) {
      // TODO - add this to list of teams instead
      this.fetchData(this.league.id)
    },
    onUpdateTeamSuccessful (team) {
      // TODO - update appropriate team instead
      this.fetchData(this.league.id)
    }
  },
  watch: {
    async league (val) {
      if (val && val.id) {
        await this.fetchData(val.id)
      }
    }
  },
  async mounted () {
    this.fetchData(this.league.id)
  }
}
</script>

<style>

</style>
