<template>
  <b-modal ref="modal" title="Schedule Bye" @ok.prevent="onOk">
    <b-form>
      <b-form-group label="Team" label-for="teamInput">
        <b-form-select id="teamInput" name="teamInput" data-vv-as="team"
          :options="teamOptions" v-model="form.teamId" v-validate="'required'"
          :state="!errors.has('teamInput')">
        </b-form-select>
        <div class="invalid-feedback">{{ errors.first('teamInput') }}</div>
      </b-form-group>
      <b-form-group label="Date" label-for="dateInput">
        <b-form-input id="dateInput" name="dateInput" type="date" data-vv-as="date"
          v-model="form.date" v-validate="'required'" :state="!errors.has('dateInput')">
        </b-form-input>
        <div class="invalid-feedback">{{ errors.first('dateInput') }}</div>
      </b-form-group>
      <b-form-group label="Notes" label-for="notesInput">
        <b-form-textarea id="notesInput" v-model="form.notes" :rows="3" :max-rows="6"
          placeholder="Optional"></b-form-textarea>
      </b-form-group>
    </b-form>
  </b-modal>
  
</template>

<script>
import http from '@/http'

const emptyForm = {
  teamId: null,
  date: null,
  notes: null
}

export default {
  props: {
    teams: Array,
    league: Object,
    bye: Object
  },
  data () {
    return {
      form: Object.assign({}, emptyForm)
    }
  },
  computed: {
    teamOptions () {
      var teams = this.teams.map(t => {
        return { text: t.name, value: t.id }
      })
      teams.unshift({ text: 'Select a team', value: null })
      return teams
    }
  },
  methods: {
    show () {
      if (this.bye) {
        // We are editing, set form to existing bye
        this.form = {
          teamId: this.bye.bye_team_id,
          notes: this.bye.notes,
          date: this.bye.bye_date
        }
      } else {
        this.form = Object.assign({}, emptyForm)
      }
      this.$validator.reset()
      this.$refs.modal.show()
    },
    async onOk () {
      const isValid = await this.$validator.validateAll()
      if (!isValid) return
      if (this.bye) {
        try {
          const bye = await this.updateExistingBye()
          this.$emit('updateSuccessful', bye)
          this.$refs.modal.hide()
        } catch (e) {
          console.error(e.toString())
        }
      } else {
        try {
          const bye = await this.createNewBye()
          this.$emit('createSuccessful', bye)
          this.$refs.modal.hide()
        } catch (e) {
          console.error(e.toString())
        }
      }
    },
    async createNewBye () {
      const request = {
        notes: this.form.notes || null,
        bye_date: this.form.date,
        bye_team_id: this.form.teamId
      }
      const client = http.getClient()
      const result = await client.post(`/v0.0.1/leagues/${this.league.id}/team_events`, request)
      request.id = result.data.id
      request.bye_team_name = this.teams.find(t => t.id === request.bye_team_id).name
      return request
    },
    async updateExistingBye () {
      const request = {
        notes: this.form.notes || null,
        bye_date: this.form.date,
        bye_team_id: this.form.teamId
      }
      const client = http.getClient()
      await client.put(`/v0.0.1/team_events/${this.bye.id}`, request)
      request.id = this.bye.id
      request.bye_team_name = this.teams.find(t => t.id === request.bye_team_id).name
      return request
    }
  }
}
</script>

<style>

</style>
