<template>
  <b-modal ref="modal" title="Schedule Game" size="lg" @ok.prevent="onOk">
    <b-form>
      <b-form-row>
        <b-col>
          <b-form-group label="Home Team" label-for="homeTeamInput">
            <b-form-select id="homeTeamInput" name="homeTeamInput" data-vv-as="home team"
              :options="teamOptions" v-model="form.homeTeamId" v-validate="'required'"
              :state="!errors.has('homeTeamInput')">
            </b-form-select>
            <div class="invalid-feedback">{{ errors.first('homeTeamInput') }}</div>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Away Team" label-for="awayTeamInput">
            <b-form-select id="awayTeamInput" name="awayTeamInput" data-vv-as="away team"
              :options="teamOptions" v-model="form.awayTeamId" v-validate="{ required: true, is_not: form.homeTeamId }"
              :state="!errors.has('awayTeamInput')">
            </b-form-select>
            <div class="invalid-feedback">{{ errors.first('awayTeamInput') }}</div>
          </b-form-group>
        </b-col>
      </b-form-row>
      <b-form-row>
        <b-col cols="3">
          <b-form-group label="Date" label-for="dateInput">
            <b-form-input id="dateInput" name="dateInput" type="date" data-vv-as="date"
              v-model="form.date" v-validate="'required'" :state="!errors.has('dateInput')">
            </b-form-input>
            <div class="invalid-feedback">{{ errors.first('dateInput') }}</div>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-form-group label="Time" label-for="timeInput">
            <b-form-input id="timeInput" name="timeInput" type="time" data-vv-as="time"
              v-model="form.time" v-validate="'required'" :state="!errors.has('timeInput')">
            </b-form-input>
            <div class="invalid-feedback">{{ errors.first('timeInput') }}</div>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Location" label-for="locationInput">
            <b-form-select id="locationInput" name="locationInput" data-vv-as="location"
              :options="locationOptions" v-model="form.locationId" v-validate="'required'"
              :state="!errors.has('locationInput')">
            </b-form-select>
            <div class="invalid-feedback">{{ errors.first('locationInput') }}</div>
          </b-form-group>
        </b-col>
      </b-form-row>
      <b-form-group label="Notes" label-for="notesInput">
        <b-form-textarea id="notesInput" v-model="form.notes" :rows="3" :max-rows="6"
          placeholder="Optional"></b-form-textarea>
      </b-form-group>
    </b-form>
  </b-modal>
</template>


<script>
import moment from 'moment'
import http from '@/http'
import { range } from 'lodash'

const emptyForm = {
  homeTeamId: null,
  awayTeamId: null,
  locationId: null,
  date: null,
  time: null,
  notes: null
}

export default {
  props: {
    league: Object,
    teams: Array,
    matchup: Object
  },
  data () {
    return {
      form: Object.assign({}, emptyForm)
    }
  },
  computed: {
    teamOptions () {
      var teams = this.teams.map(t => {
        return { text: t.name, value: t.id }
      })
      teams.unshift({ text: 'Select a team', value: null })
      return teams
    },
    locationOptions () {
      var locations = this.league.matchup_locations.map(t => {
        return { text: t.name, value: t.id }
      })
      locations.unshift({ text: 'Select a location', value: null })
      return locations
    }
  },
  methods: {
    show () {
      if (this.matchup === null) {
        this.form = Object.assign({}, emptyForm)
      } else {
        const dt = moment(this.matchup.datetime)
        this.form = {
          homeTeamId: this.matchup.home_team_id,
          awayTeamId: this.matchup.away_team_id,
          locationId: this.matchup.location_id,
          date: dt.format('YYYY-MM-DD'),
          time: dt.format('HH:mm'),
          notes: this.matchup.notes
        }
      }
      this.$refs.modal.show()
      this.$validator.reset()
    },
    async onOk () {
      const isValid = await this.$validator.validateAll()
      if (!isValid) return
      if (this.matchup) {
        try {
          const matchup = await this.updateExistingMatchup()
          this.$emit('updateSuccessful', matchup)
          this.$refs.modal.hide()
        } catch (e) {
          console.error(e.toString())
        }
      } else {
        try {
          const matchup = await this.createNewMatchup()
          this.$emit('createSuccessful', matchup)
          this.$refs.modal.hide()
        } catch (e) {
          console.error(e.toString())
        }
      }
    },
    async createNewMatchup () {
      const games = range(this.league.games_per_matchup)
        .map(seq => { return { sequence: seq } })
      const request = {
        notes: this.form.notes || null,
        datetime: moment(`${this.form.date}T${this.form.time}`).toISOString(),
        location_id: this.form.locationId,
        status: 'Scheduled',
        home_team_id: this.form.homeTeamId,
        away_team_id: this.form.awayTeamId,
        games: games
      }
      const client = http.getClient()
      const response = await client.post(`/v0.0.1/leagues/${this.league.id}/team_events`, request)
      request.id = response.data.id
      request.home_team_name = this.teams.find(t => t.id === request.home_team_id).name
      request.away_team_name = this.teams.find(t => t.id === request.away_team_id).name
      request.location = this.league.matchup_locations.find(l => l.id === request.location_id).name
      return request
    },
    async updateExistingMatchup () {
      const request = {
        notes: this.form.notes || null,
        datetime: moment(`${this.form.date}T${this.form.time}`).toISOString(),
        location_id: this.form.locationId,
        status: this.matchup.status,
        home_team_id: this.form.homeTeamId,
        away_team_id: this.form.awayTeamId,
        games: this.matchup.games
      }
      const client = http.getClient()
      await client.put(`/v0.0.1/team_events/${this.matchup.id}`, request)
      request.id = this.matchup.id
      request.home_team_name = this.teams.find(t => t.id === request.home_team_id).name
      request.away_team_name = this.teams.find(t => t.id === request.away_team_id).name
      request.location = this.league.matchup_locations.find(l => l.id === request.location_id).name
      return request
    }
  }
}
</script>

<style>

</style>
