<template>
  <b-container>
    <div v-show="isLoading">Loading</div>
    <div v-if="!isLoading">
      <b-dropdown split text="Schedule a game" class="m-2" @click="onAddMatchupClick" variant="success">
        <b-dropdown-item href="#" @click="onAddByeClick">Schedule a bye</b-dropdown-item>
      </b-dropdown>
      <div v-if="teamEvents.length">
        <div v-for="(value, key) in groupedByDay" :key="key">
          <h4 class="mt-3">{{ prettyDate(key) }}</h4>
          <b-list-group>
            <b-list-group-item v-for="e in value" :key="e.id">
              <div v-if="e.bye_date">
                <span class="font-weight-bold">Bye</span>
                <span>for {{ e.bye_team_name }}</span>
                <b-button variant="link" @click="onEditByeClick(e)">Edit</b-button>
              </div>
              <div v-else>
                <span class="font-weight-bold">{{ prettyTime(e.datetime) }}</span>
                <span>{{ e.home_team_name }}</span>
                <span class="font-italic">vs</span>
                <span>{{ e.away_team_name }}</span>
                <span class="font-italic">on</span>
                <span>{{ e.location }}.</span>
                <span class="font-italic">Status:</span>
                <span>{{ e.status }}</span>
                <b-button variant="link" @click="onEditMatchupClick(e)">Edit</b-button>
                <b-button variant="link" @click="onChangeScoresClick(e)">Change Scores</b-button>
              </div>
            </b-list-group-item>
          </b-list-group>
        </div>
      </div>
      <div v-else>Nothing scheduled!</div>
      <add-edit-matchup-modal ref="addEditMatchupModal" :teams="teams"
        :league="league" :matchup="editMatchup" @updateSuccessful="onMatchupModalUpdateSuccessful"
        @createSuccessful="onMatchupModalCreateSuccessful"/>
      <add-edit-bye-modal ref="addEditByeModal" :teams="teams"
        :league="league" :bye="editBye" @updateSuccessful="onByeModalUpdateSuccessful"
        @createSuccessful="onByeModalCreateSuccessful" />
      <scores-modal ref="scoresModal" :matchup="scoresMatchup" @updateSuccessful="onScoresModalUpdateSuccessful" />
    </div>
  </b-container>
</template>

<script>
import AddEditMatchupModal from './AddEditMatchupModal'
import AddEditByeModal from './AddEditByeModal'
import ScoresModal from './ScoresModal'
import http from '@/http'
import { groupBy, orderBy } from 'lodash'
import moment from 'moment'

export default {
  components: {
    AddEditMatchupModal,
    AddEditByeModal,
    ScoresModal
  },
  data () {
    return {
      isLoading: true,
      teamEvents: [],
      league: null,
      teams: [],
      editMatchup: null,
      editBye: null,
      scoresMatchup: null
    }
  },
  computed: {
    groupedByDay () {
      const ordered = orderBy(this.teamEvents, te => {
        if (te.bye_date) {
          return moment(te.bye_date).toISOString()
        } else {
          return moment(te.datetime).toISOString()
        }
      })
      return groupBy(ordered, te => {
        if (te.bye_date) {
          return moment(te.bye_date).toISOString()
        } else {
          return moment(te.datetime).startOf('day').toISOString()
        }
      })
    }
  },
  methods: {
    async fetchData (id) {
      this.isLoading = true
      try {
        const client = http.getClient()
        const leagueTask = client.get(`/v0.0.1/leagues/${id}`)
        const teamEventsTask = client.get(`/v0.0.1/leagues/${id}/team_events`)
        const teamsTask = client.get(`/v0.0.1/leagues/${id}/teams`)
        const responses = await Promise.all([leagueTask, teamEventsTask, teamsTask])
        this.league = responses[0].data
        this.teamEvents = responses[1].data
        this.teams = responses[2].data
      } finally {
        this.isLoading = false
      }
    },
    // async refreshTeamEvents (leagueId) {
    //   this.isLoading = true
    //   try {
    //     const client = http.getClient()
    //     const response = await client.get(`/v0.0.1/leagues/${leagueId}/team_events`)
    //     this.teamEvents = response.data
    //   } finally {
    //     this.isLoading = false
    //   }
    // },
    // async refreshTeamEvent (teamEventId) {
    //   this.isLoading = true
    //   try {
    //     const client = http.getClient()
    //     const response = await client.get(`/v0.0.1/team_events/${teamEventId}`)
    //     const index = this.teamEvents.findIndex(te => te.id === teamEventId)
    //     this.teamEvents[index] = response.data
    //   } finally {
    //     this.isLoading = false
    //   }
    // },
    prettyDate (datetime) {
      return moment(datetime).format('dddd, MMMM Do')
    },
    prettyTime (datetime) {
      return moment(datetime).format('h:mm a')
    },
    onAddMatchupClick () {
      this.editMatchup = null
      this.$nextTick(() => this.$refs.addEditMatchupModal.show())
    },
    onEditMatchupClick (matchup) {
      this.editMatchup = matchup
      this.$nextTick(() => this.$refs.addEditMatchupModal.show())
    },
    onEditByeClick (bye) {
      this.editBye = bye
      this.$nextTick(() => this.$refs.addEditByeModal.show())
    },
    onChangeScoresClick (matchup) {
      this.scoresMatchup = matchup
      this.$nextTick(() => this.$refs.scoresModal.show())
    },
    onAddByeClick () {
      this.$nextTick(() => this.$refs.addEditByeModal.show())
    },
    onScoresModalUpdateSuccessful (updatedMatchup) {
      this.scoresMatchup = null
      const index = this.teamEvents.findIndex(te => te.id === updatedMatchup.id)
      this.teamEvents[index] = updatedMatchup
      this.teamEvents = this.teamEvents.slice(0)
    },
    onMatchupModalUpdateSuccessful (updatedMatchup) {
      this.editMatchup = null
      const index = this.teamEvents.findIndex(te => te.id === updatedMatchup.id)
      this.teamEvents[index] = updatedMatchup
      this.teamEvents = this.teamEvents.slice(0)
    },
    onMatchupModalCreateSuccessful (createdMatchup) {
      this.teamEvents.push(createdMatchup)
    },
    onByeModalUpdateSuccessful (updatedBye) {
      this.editBye = null
      const index = this.teamEvents.findIndex(te => te.id === updatedBye.id)
      this.teamEvents[index] = updatedBye
      this.teamEvents = this.teamEvents.slice(0)
    },
    onByeModalCreateSuccessful (createdBye) {
      this.teamEvents.push(createdBye)
    }
  },
  async mounted () {
    await this.fetchData(this.$route.params.id)
  }
}
</script>

<style>

</style>


