<template>
  <b-modal ref="modal" title="Scores" @ok.prevent="onOk">
    <b-form>
      <b-form-select v-model="form.status" :options="statusOptions" />
      <div v-if="showScoresInput">
        <div class="font-weight-bold mt-3 mb-2">Optionally, enter scores below</div>
        <b-form-row v-for="game in form.games" :key="game.id">
          <b-col cols="3">
            <b-form-group :label="matchup.home_team_name" label-for="homeTeamScoreInput">
              <b-form-input id="homeTeamScoreInput" name="homeTeamScoreInput" type="number"
                v-model.number="game.home_team_score" >
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="3">
            <b-form-group :label="matchup.away_team_name" label-for="homeTeamScoreInput">
              <b-form-input id="awayTeamScoreInput" name="awayTeamScoreInput" type="number"
                v-model.number="game.away_team_score" >
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="6"> 
            <b-form-textarea id="notesInput" v-model="game.notes" :rows="3" :max-rows="3"
              placeholder="Notes (optional)"></b-form-textarea>
          </b-col>
        </b-form-row>
      </div>
    </b-form>
  </b-modal>
  
</template>

<script>
import http from '@/http'

export default {
  props: {
    matchup: Object
  },
  data () {
    return {
      form: { status: null }
    }
  },
  computed: {
    statusOptions () {
      if (this.matchup === null) return null
      return [
        { value: null, text: 'Select a result' },
        { value: 'HomeTeamWin', text: `${this.matchup.home_team_name} won` },
        { value: 'AwayTeamWin', text: `${this.matchup.away_team_name} won` },
        { value: 'Tie', text: 'Tie/Draw' },
        { value: 'HomeTeamForfeit', text: `${this.matchup.home_team_name} forfeited` },
        { value: 'AwayTeamForfeit', text: `${this.matchup.away_team_name} forfeited` }
      ]
    },
    showScoresInput () {
      if (this.matchup === null) return null
      return this.form.status === 'HomeTeamWin' ||
        this.form.status === 'AwayTeamWin' ||
        this.form.status === 'Tie'
    }
  },
  methods: {
    show () {
      this.form.games = this.matchup.games.map(g => Object.assign({}, g))
      if (this.matchup.status === 'Scheduled') {
        this.form.status = null
      } else if (this.matchup.status === 'Rescheduled' || this.matchup.status === 'Cancelled') {
        console.error('Cannot set score of a cancelled or rescheduled game')
      } else {
        this.form.status = this.matchup.status
      }
      this.$refs.modal.show()
    },
    async onOk () {
      try {
        const updatedMatchup = await this.updateScores()
        this.$emit('updateSuccessful', updatedMatchup)
        this.$refs.modal.hide()
      } catch (e) {
        console.error(e.toString())
      }
    },
    async updateScores () {
      if (this.form.status === null) return
      const request = Object.assign({}, this.matchup)
      request.games = this.form.games
      request.status = this.form.status
      const client = http.getClient()
      await client.put(`/v0.0.1/team_events/${this.matchup.id}`, request)
      return request
    }
  }
}
</script>

<style>

</style>
