<template>
  <div v-if="!isLoading">
    <div class="summary pt-3">
      <b-container>
        <h2>{{ greeting }}{{ user.firstName}}</h2>
        <p v-if="nextMatchupCountdown">{{ nextMatchupCountdown }} until game time</p>
        <div v-if="nextMatchupCountdown">
          <h4 v-if="sortedMatchups.length == 1">Upcoming Game</h4>
          <h4 v-else>Upcoming Games</h4>
          <team-event-summary v-for="m in sortedMatchups" :key="m.id"
            :homeTeamName="m.is_home ? m.my_team_name : m.against_team_name"
            :awayTeamName="m.is_home ? m.against_team_name : m.my_team_name"
            :sport="m.sport" :location="m.location" :datetime="m.datetime" />
        </div>
      </b-container>
    </div>
    <hr />
    <b-container>
      <h3>Teams</h3>
      <div style="display: flex; flex-flow: column nowrap; align-items: flex-start;">
        <team-summary v-for="myTeam in myTeams" :key="myTeam.id" :team="myTeam" />
      </div>
    </b-container>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import TeamSummary from './TeamSummary'
import TeamEventSummary from './TeamEventSummary'
import moment from 'moment'
import { flatMap } from 'lodash'

export default {
  components: {
    TeamSummary,
    TeamEventSummary
  },
  data () {
    return { }
  },
  computed: {
    ...mapState(['myTeams', 'user']),
    isLoading () {
      return this.user === null
    },
    greeting () {
      const hour = moment().hour()
      if (hour >= 3 && hour < 12) {
        return 'Good morning, '
      } else if (hour >= 12 && hour < 18) {
        return 'Good afternoon, '
      } else {
        return 'Good evening, '
      }
    },
    nextMatchupCountdown () {
      if (this.sortedMatchups[0]) {
        return moment(this.sortedMatchups[0].datetime).fromNow(true)
      } else return null
    },
    sortedMatchups () {
      return flatMap(this.myTeams, t => t.next_team_events
          .map(te => Object.assign({ my_team_name: t.name, sport: t.sport }, te)))
        .filter(te => te.bye_date === null)
        .sort((a, b) => {
          if (a.datetime < b.datetime) return 1
          else return 1
        })
    }
  }
}
</script>

<style scoped>
</style>