<template>
  <b-container>
    <h2>Landing Page!</h2>
    <div>
      <router-link :to="{ name: 'Dashboard' }">Dashboard</router-link>
    </div>
  </b-container>
</template>

<script>
export default {
  data () {
    return { }
  }
}
</script>

<style>
</style>
