<template>
<b-container>
  <h2>League Search Page</h2>
  <div v-show="isLoading">Loading</div>
  <div v-if="!isLoading">
    <div v-if="leagues.length">
      <div v-for="league in leagues" :key="league.id">
        <router-link :to="{ name: 'LeagueDetail', params: { id: league.id } }">{{ league.name }}</router-link>
      </div>
    </div>
    <div v-else>
      Nothing found!
    </div>
  </div>
</b-container>
</template>

<script>
import http from '@/http'

export default {
  data () {
    return {
      isLoading: true,
      query: '',
      leagues: []
    }
  },
  methods: {
    async fetchData () {
      this.isLoading = true
      try {
        const params = {
          q: this.query,
          page_size: 3
        }
        const response = await http.getClient().get('/v0.0.1/leagues/search', { params: params })
        this.leagues = response.data
      } finally {
        this.isLoading = false
      }
    }
  },
  async mounted () {
    this.query = this.$route.query.q
    await this.fetchData()
  },
  async beforeRouteUpdate (to, from, next) {
    this.query = to.query.q
    this.leagues = []
    await this.fetchData()
    next()
  }
}
</script>
