<template>
<b-navbar toggleable="md" type="dark" variant="info">

  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

  <b-navbar-brand :to="{ name: 'Dashboard' }">JustPlay</b-navbar-brand>

  <b-collapse is-nav id="nav_collapse">

    <b-navbar-nav>
      <b-nav-item-dropdown text="Teams" v-if="myTeams.length">
        <b-dropdown-item v-for="myTeam in myTeams" :key="myTeam.id"
          :to="{ name: 'TeamDetail', params: { id: myTeam.id } }">
          {{ myTeam.name }}
          </b-dropdown-item>
      </b-nav-item-dropdown>
      <b-button size="sm" class="my-2 my-sm-0" type="submit" disabled>Create League</b-button>
    </b-navbar-nav>

    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto">

      <b-nav-form>
        <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search" v-model="searchText" @keyup.enter="onSearch"/>
        <b-button size="sm" class="my-2 my-sm-0" type="submit" @click.prevent="onSearch" :disabled="searchText.length <= 2">Search</b-button>
      </b-nav-form>

      <b-nav-item v-show="!isSignedIn" :to="{ name: 'SignIn' }" right>Sign in</b-nav-item>

      <b-nav-item v-show="isSignedIn" right @click="onSignOut">Sign Out</b-nav-item>

    </b-navbar-nav>

  </b-collapse>
</b-navbar>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  data () {
    return {
      searchText: ''
    }
  },
  computed: {
    ...mapState(['myTeams', 'token']),
    isSignedIn () {
      return !(this.token === null)
    }
  },
  methods: {
    ...mapActions(['setToken', 'clearMyInfo']),
    onSignOut () {
      this.setToken(null)
      this.clearMyInfo()
      this.$store.commit('updateMyTeams', [])
      document.cookie = 'token=; Max-Age=-99999999;'
      this.$router.push({ name: 'Landing' })
    },
    onSearch () {
      this.$router.push({ name: 'LeagueSearch', query: { q: this.searchText } })
    }
  }
}
</script>