<template>
  <b-container>
    <h2>Sign In</h2>
    <b-form @submit.prevent="onSubmit">
      <b-form-group label="Email"
                    label-for="email">
        <b-form-input id="email"
                      type="email"
                      v-model="form.email"
                      required
                      placeholder="john.doe@frugal.com">
        </b-form-input>
      </b-form-group>
      <b-form-group label="Password"
                    label-for="password">
        <b-form-input id="password"
                      type="password"
                      v-model="form.password"
                      required>
        </b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
    </b-form>

    <div>
      <h2>Or</h2>
      <b-button @click="onSignInWithGoogle">Sign in with Google</b-button>
    </div>
  </b-container>
</template>

<script>
import axios from 'axios'
import { mapState, mapActions } from 'vuex'

export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      auth2: null
    }
  },
  computed: {
    ...mapState(['baseApiUrl'])
  },
  methods: {
    ...mapActions(['setToken', 'loadMyInfo']),
    onSignInWithGoogle () {
      var me = this
      var offlineAccessOptions = {
        'redirect_uri': 'postmessage',
        'prompt': 'select_account'
      }
      // Sort of just using code from
      // https://github.com/simmatrix/vue-google-auth/blob/master/index.js#L55
      // slightly modified because it made user accept scopes every time without
      // 'prompt' prop in offlineAccessOptions. Erm, hope this isn't bad
      // To use the vue-google-auth lib, the first line would instead look like this
      // Vue.googleAuth().signIn(async function (authorizationCode) {
      window.gapi.auth2.getAuthInstance().grantOfflineAccess(offlineAccessOptions).then(async function (response) {
        const url = me.baseApiUrl + '/auth/google/callback'
        let result = await axios.get(url, { params: { code: response.code, postmessage: true } })
        await me.onSignInSuccessful(result.data.token)
      }, function (error) {
        console.log(error)
      })
    },
    googleSignInCallback (arg) {
      console.log(JSON.stringify(arg))
    },
    async onSignInSuccessful (token) {
      this.setToken(token)
      // Eventually next line will load ALL user data
      await this.loadMyInfo()
      let redirectTo = this.$route.query.redirectTo
      if (redirectTo) {
        this.$router.push(redirectTo)
      } else {
        this.$router.push({ name: 'Dashboard' })
      }
    },
    async onSubmit () {
      const url = this.baseApiUrl + '/user/login'
      try {
        let result = await axios.post(url, this.form)
        await this.onSignInSuccessful(result.data.token)
      } catch (e) {
        console.log(e)
        if (e.response.status === 400) {
          alert('Incorrect email/password combination')
        } else {
          alert('Strange error happened')
        }
      }
    }
  }
}
</script>

<style>
</style>