<template>
<div class="team-summary-wrapper p-2 mb-3" @click="onClick">
  <div class="sport-image mr-2">
  </div>
  <div>
    <div class="font-weight-bold">{{ team.name }}</div>
    <div class="font-weight-light">
      <span>{{ team.wins }}-{{ team.losses }}-{{ team.ties }}</span>
      <span> | </span>
      <span>{{ team.remaining_team_events }} remaining</span>
      <span v-if="team.remaining_team_events === 1">game</span>
      <span v-else>games</span>
    </div>
    <div v-if="team.next_team_events && team.next_team_events.length > 0">
      <div v-if="team.next_team_events.length == 1">
        <span>Next game on {{ nextGamesDate }}</span>
      </div>
      <div v-else>
        <span>Next games on {{ nextGamesDate }}</span>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { DateTime } from 'luxon'

export default {
  props: {
    team: Object
  },
  computed: {
    nextGamesDate () {
      if (this.team.next_team_events && this.team.next_team_events.length > 0) {
        const dt = DateTime.fromISO(this.team.next_team_events[0].datetime)
        return `${dt.toLocaleString({ month: 'long', day: 'numeric' })}${this.numberSuffix(dt.day)}`
      } else return null
    }
  },
  methods: {
    onClick () {
      this.$router.push({ name: 'TeamDetail', params: { id: this.team.id } })
    },
    numberSuffix (number) {
      switch (number % 10) {
        case 1: return 'st'
        case 2: return 'nd'
        case 3: return 'rd'
        default: return 'th'
      }
    }
  }
}
</script>

<style>
.team-summary-wrapper {
  display: flex;
  flex-flow: row nowrap;
  border: #00a159 2px solid;
  border-radius: 3px;
  cursor: pointer;
  align-items: center;
}

.sport-image {
  background: greenyellow;
  height: 50px;
  width: 50px;
}
</style>