<template>
<b-container>
  <h2>Team Detail Page</h2>
  <div v-show="isLoading">Loading</div>
  <div v-if="team">
    <div>Team Id: {{ team.id }}</div>
    <div>{{ team.name }}</div>
    <div v-if="isUserLoggedIn">
      <b-button :variant="followToggleVariant" :disabled="isUpdatingFollow" @click="onFollowToggleClick">
        {{ followToggleText }}
      </b-button>
    </div>
    <div>
      <span>league: </span>
      <router-link :to="{ name: 'LeagueDetail', params: { id: team.league_id } }">{{ team.league_name }}</router-link>
    </div>
  </div>
</b-container>
</template>

<script>
import http from '@/http'
import { mapActions, mapState } from 'vuex'

export default {
  data () {
    return {
      team: null,
      isLoading: true,
      isUpdatingFollow: false
    }
  },
  computed: {
    ...mapState(['user']),
    followToggleText () {
      if (this.isUpdatingFollow) return '...'
      else if (this.team.is_followed) return 'Unfollow'
      else return 'Follow'
    },
    followToggleVariant () {
      if (this.isUpdatingFollow) return 'secondary'
      else if (this.team.is_followed) return 'danger'
      else return 'success'
    },
    isUserLoggedIn () {
      return this.user !== null
    }
  },
  methods: {
    ...mapActions(['loadMyInfo']),
    async fetchData (teamId) {
      this.isLoading = true
      try {
        const response = await http.getClient().get(`/v0.0.1/teams/${teamId}`)
        this.team = response.data
      } finally {
        this.isLoading = false
      }
    },
    async followTeam () {
      this.isUpdatingFollow = true
      try {
        await http.getClient().post(`/v0.0.1/my/teams/${this.team.id}`)
        this.team.is_followed = true
        await this.loadMyInfo()
      } finally {
        this.isUpdatingFollow = false
      }
    },
    async unfollowTeam () {
      this.isUpdatingFollow = true
      try {
        await http.getClient().delete(`/v0.0.1/my/teams/${this.team.id}`)
        this.team.is_followed = false
        await this.loadMyInfo()
      } finally {
        this.isUpdatingFollow = false
      }
    },
    async onFollowToggleClick () {
      if (this.team.is_followed) await this.unfollowTeam()
      else this.followTeam()
    }
  },
  async mounted () {
    await this.fetchData(this.$route.params.id)
  },
  async beforeRouteUpdate (to, from, next) {
    this.team = null
    await this.fetchData(to.params.id)
    next()
  }
}
</script>

<style>
</style>
