<template>
  <div class="team-event-summary m-2">
    <div class="time-data pr-3 mr-3">
      <div>{{ time }}</div>
      <div>{{ weekday }}</div>
      <div>{{ date }}</div>
    </div>
    <h4 class="mr-3">{{ homeTeamName }}</h4>
    <div class="vs-section mr-3">
      <div>{{ location }}</div>
      <div class="sport-image"></div>
    </div>
    <h4>{{ awayTeamName }}</h4>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  props: {
    homeTeamName: String,
    awayTeamName: String,
    sport: String,
    location: String,
    datetime: String
  },
  computed: {
    mnt () {
      return moment(this.datetime)
    },
    time () {
      return this.mnt.format('h:mm A')
    },
    weekday () {
      return this.mnt.format('dddd')
    },
    date () {
      return this.mnt.format('MMMM Do')
    }
  }
}
</script>

<style scoped>
.team-event-summary {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.time-data {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-right: 1px #AAA solid;
}

.time-data {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.sport-image {
  background: greenyellow;
  height: 50px;
  width: 50px;
}
</style>
