<template>
  <div id="app">
    <navbar/>
    <router-view/>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
export default {
  components: {
    Navbar
  },
  name: 'app'
}
</script>

<style style="scss">
@import './styles/app.scss';
</style>
